@font-face{
    font-family:'Graphik';
    font-style:normal;
    font-weight:normal;
    src:url("../assets/fonts/graphik/Graphik-Regular.eot");
    src:url("../assets/fonts/graphik/Graphik-Regular.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/graphik/Graphik-Regular.woff") format("woff"),
    url("../assets/fonts/graphik/Graphik-Regular.ttf") format("truetype"),
    url("../assets/fonts/graphik/Graphik-Regular.svg#Graphik-Regular") format("svg");
    text-rendering:optimizeLegibility
  }
  @font-face{font-family:'Graphik';
    font-style:normal;font-weight:300;
    src:url("../assets/fonts/graphik/Graphik-Light.eot");
    src:url("../assets/fonts/graphik/Graphik-Light.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/graphik/Graphik-Light.woff") format("woff"),
    Modern Browsers url("../assets/fonts/graphik/Graphik-Light.ttf") format("truetype"),
    url("../assets/fonts/graphik/Graphik-Light.svg#Graphik-Light") format("svg");
    text-rendering:optimizeLegibility
  }
  @font-face{font-family:'Graphik';
    font-style:normal;
    font-weight:bold;
    src:url("../assets/fonts/graphik/Graphik-Medium.eot");
    src:url("../assets/fonts/graphik/Graphik-Medium.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/graphik/Graphik-Medium.woff") format("woff"),
    url("../assets/fonts/graphik/Graphik-Medium.ttf") format("truetype"),
    url("../assets/fonts/graphik   /Graphik-Medium.svg#Graphik-Medium") format("svg");
    text-rendering:optimizeLegibility
  }
  *{
    outline: none;
    font-family: "Graphik",sans-serif;
  }
  
  html,
  body,
  p,
  ol,
  ul,
  li{
    font-family: "Graphik",sans-serif;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4, 
  h5,
  h6 {
    font-weight: normal;
    color: #5F6C6E;
    margin: 0px;
    padding: 0px;
  }
  b{
    color: #003767;
  }
  .text-basic{
    color: #42b549;
    font-size: 15px;
  }
  .text-dark-blue{
    color: #778ea5;
    font-size: 15px;
  }
  .text-normal{
    color: rgb(101, 113, 114);
    font-size: 15px;
  }
  .text-super{
    font-size: 35px;
  }
  .text-super1{
    font-size: 28px;
  }
  
  .text-normal-1{
    color: #838C8D;
    font-size: 14px;
    line-height: 1.3;
  }
  .text-title{
    color: #003767;
    font-size: 16px;
  }
  .text-title1{
    color: #003767;
    font-size: 18px;
  }
  .text-title-white{
    color: #FFFFFF;
    font-size: 16px;
  }
  hr{
    border: 0.5px solid rgb(240, 240, 240);
  }
  ul {
    list-style: none;
  }
  html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  html { -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  body,
  button,
  input,
  select,
  textarea, a{
    text-decoration: none;
    font-family:Graphik,sans-serif;
    font-size: 14px;
  }
  .button, .input,
  .textarea, .select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
  }
  .button {
    padding: 5px 20px;
    background-color: white;
    height: 44px;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    text-align: center;
  } 
  .fb {
    background-color: #3B5998;
    color: white;
  }
  .google {
    background-color: #dd4b39;
    color: white;
  }
  .basic{
    background-color: #42b549;
    color: white;
  }
  .yellow-bg{
    background-color: rgb(247, 187, 77);
    color: white;
  }
  .blue-bg{
    background-color: rgb(225, 240, 252);
    color: white;
  }
  .radius{
    border-radius: 5px;
  }
  .basic:hover{
    background-color: #33a53b;
    color: white;
  }
  .basic-ghost{
    background-color: white;
    border: 1px solid  #42b549;
    color:  #42b549;
  }.basic-ghost-small{
    padding: 3px 20px !important;
    height: 38px;
    background-color: white;
    border: 1px solid  #42b549;
    color:  #42b549;
    border-radius: 2px;
  }
  .basic-ghost-small1{
    padding: 3px 20px !important;
    height: 25px;
    background-color: white;
    border: 1px solid  #42b549;
    color:  #42b549;
    border-radius: 2px;
  }
  .basic-small{
    background-color: #42b549;
    color: white;
    padding: 3px 20px !important;
    height: 38px;
    border-radius: 2px;
  }
  .input {
    padding: 12px 20px;
    border-radius: 3px;
    background-color: #f9fafb;
    height: 48px;
    color: #363636;
    outline-color: none;
    max-width: 100%;
    transition: all 0.2s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    width: 100%;
  }
  .textarea{
    padding: 12px 20px;
    border-radius: 3px;
    background-color: #f9fafb;
    color: #363636;
    outline-color: none;
    transition: all 0.2s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    
  }
  .border-color{
    border: 1px solid #B1E8B4;
  }
  .input::-moz-placeholder,
  .textarea::-moz-placeholder {
    color: rgba(54, 54, 54, 0.3);
  }
  .input::-webkit-input-placeholder,
  .textarea::-webkit-input-placeholder {
    color: rgba(54, 54, 54, 0.3);
  }
  
  .input:hover, .input.is-hovered,
  .textarea:hover,
  .textarea.is-hovered {
    border-color: #3EC57F;
  }
  .textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    padding: 0.625em;
    resize: vertical;
  }
  .full-height{
    height: 100%;
  }
  .full-width{
    width: 100%;
  }
  .full-height-vh{
    height: 90vh;
  }
  .nesting-button{
    border-radius: 3px 0px 0px 3px;
  }
  .nesting-button1{
    border-radius: 0px 3px 3px 0px;
  }
  .navbar {
    background-color: white;
    height: 70px;
    position: relative;
    z-index: 30;
    border-bottom: 1px solid #EFEFEF;
  }
  
  .navbar > .container {
    align-items: stretch;
    display: flex;
    width: 100%;
  }
  
  .navbar-brand{
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
  }
  .navbar-brand a.navbar-item:hover {
    background-color: transparent;
  }
  .navbar-burger {
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
  }
  
  .navbar-burger span {
    background-color: currentColor;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition-duration: 86ms;
    transition-timing-function: ease-out;
    width: 16px;
  }
  
  .navbar-burger span:nth-child(1) {
    top: calc(50% - 6px);
  }
  
  .navbar-burger span:nth-child(2) {
    top: calc(50% - 1px);
  }
  
  .navbar-burger span:nth-child(3) {
    top: calc(50% + 4px);
  }
  
  .navbar-menu {
    display: none;
  }
  
  .navbar-item,
  .navbar-link {
    color: #313848;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    position: relative;
  }
  a.navbar-item,
  .navbar-link {
    cursor: pointer;
  }
  a.navbar-item:hover, a.navbar-item.is-active,
  .navbar-link:hover,
  .navbar-link.is-active {
    color: #3EC57F;
    transition: all 0.2s cubic-bezier(0.815, 0.005, 0.18, 1.005);
  }
  
  .navbar-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .navbar-item.has-dropdown {
    padding: 0;
  }
  
  .navbar-item.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .navbar-content {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .navbar-link::after {
    border-color: #3273dc;
    margin-top: -0.375em;
    right: 1.125em;
  }
  
  .navbar-dropdown {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  
  .navbar-dropdown .navbar-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .navbar-divider {
    background-color: whitesmoke;
    border: none;
    display: none;
    height: 2px;
    margin: 0.5rem 0;
  }
  
  @media screen and (max-width: 1087px) {
    .navbar > .container {
      display: block;
    }
    .navbar-brand .navbar-item,
    .navbar-tabs .navbar-item {
      align-items: center;
      display: flex;
    }
    .navbar-link::after {
      display: none;
    }
    .navbar-menu {
      background-color: white;
      box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
      padding: 0.5rem 0;
    }
    .navbar-menu.is-active {
      display: block;
    }
  }
  
  @media screen and (min-width: 1088px) {
    .navbar,
    .navbar-menu,
    .navbar-start,
    .navbar-end {
      align-items: stretch;
      display: flex;
    }
    .navbar-burger {
      display: none;
    }
    .navbar-item,
    .navbar-link {
      align-items: center;
      display: flex;
    }
    .navbar-item {
      display: flex;
    }
    .navbar-item.has-dropdown {
      align-items: stretch;
    }
    .navbar-item.has-dropdown-up .navbar-link::after {
      -webkit-transform: rotate(135deg) translate(0.25em, -0.25em);
      transform: rotate(135deg) translate(0.25em, -0.25em);
    }
    .navbar-item.has-dropdown-up .navbar-dropdown {
      border-bottom: 2px solid #dbdbdb;
      border-radius: 6px 6px 0 0;
      border-top: none;
      bottom: 100%;
      box-shadow: 0 -8px 8px rgba(10, 10, 10, 0.1);
      top: auto;
    }
    .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown {
      display: block;
    }
    .navbar-menu {
      flex-grow: 1;
      flex-shrink: 0;
    }
    .navbar-start {
      justify-content: flex-start;
      margin-right: auto;
    }
    .navbar-end {
      justify-content: flex-end;
      margin-left: auto;
    }
    .navbar-dropdown {
      background-color: white;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top: 1px solid #F2F2F2;
      box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
      display: none;
      
      left: 0;
      min-width: 100%;
      position: absolute;
      top: 100%;
      z-index: 20;
    }
    .navbar-dropdown .navbar-item {
      padding: 0.375rem 1rem;
      white-space: nowrap;
    }
    .navbar-dropdown a.navbar-item {
      padding-right: 3rem;
    }
    .navbar-dropdown a.navbar-item:hover {
      background-color: whitesmoke;
      color: #0a0a0a;
    }
    .navbar-dropdown a.navbar-item.is-active {
      background-color: whitesmoke;
      color: #3273dc;
    }
    .navbar-dropdown.is-right {
      left: auto;
      right: 0;
    }
    .navbar-divider {
      display: block;
    }
  }
  .padding-10{
    padding: 10px;
  }
  .padding-20{
    padding: 20px;
  }
  .padding-30{
    padding: 30px;
  }
  .padding-40{
    padding: 40px;
  }
  .padding-50{
    padding: 50px;
  }
  .padding-60{
    padding: 60px;
  }
  .padding-70{
    padding: 70px;
  }
  .padding-80{
    padding: 80px;
  }
  .padding-90{
    padding: 90px;
  }
  .padding-100{
    padding: 100px;
  }
  .padding-120{
    padding: 120px;
  }
  .padding-top-10{
    padding-top: 10px;
  }
  .padding-top-20{
    padding-top: 20px;
  }
  .padding-top-30{
    padding-top: 30px;
  }
  .padding-top-40{
    padding-top: 40px;
  }
  .padding-top-50{
    padding-top: 50px;
  }
  .padding-top-60{
    padding-top: 60px;
  }
  .padding-top-70{
    padding-top: 70px;
  }
  .padding-top-80{
    padding-top: 80px;
  }
  .padding-top-90{
    padding-top: 90px;
  }
  .padding-top-100{
    padding-top: 100px;
  }
  .padding-top-120{
    padding-top: 120px;
  }
  .padding-bottom-10{
    padding-bottom: 10px;
  }
  .padding-bottom-5{
    padding-bottom: 5px;
  }
  .padding-bottom-20{
    padding-bottom: 20px;
  }
  .padding-bottom-30{
    padding-bottom: 30px;
  }
  .padding-bottom-40{
    padding-bottom: 40px;
  }
  .padding-bottom-50{
    padding-bottom: 50px;
  }
  .padding-bottom-60{
    padding-bottom: 60px;
  }
  .padding-bottom-70{
    padding-bottom: 70px;
  }
  .padding-bottom-80{
    padding-bottom: 80px;
  }
  .padding-bottom-90{
    padding-bottom: 90px;
  }
  .padding-bottom-100{
    padding-bottom: 100px;
  }
  .padding-bottom-120{
    padding-bottom: 120px;
  }
  .padding-left-10{
    padding-left: 10px;
  }
  .padding-left-20{
    padding-left: 20px;
  }
  .padding-left-30{
    padding-left: 30px;
  }
  .padding-left-40{
    padding-left: 40px;
  }
  .padding-left-50{
    padding-left: 50px;
  }
  .padding-left-60{
    padding-left: 60px;
  }
  .padding-left-70{
    padding-left: 70px;
  }
  .padding-left-80{
    padding-left: 80px;
  }
  .padding-left-90{
    padding-left: 90px;
  }
  .padding-left-100{
    padding-left: 100px;
  }
  .padding-left-120{
    padding-left: 120px;
  }
  .padding-right-10{
    padding-right: 10px;
  }
  .padding-right-20{
    padding-right: 20px;
  }
  .padding-right-30{
    padding-right: 30px;
  }
  .padding-right-40{
    padding-right: 40px;
  }
  .padding-right-50{
    padding-right: 50px;
  }
  .padding-right-60{
    padding-right: 60px;
  }
  .padding-right-70{
    padding-right: 70px;
  }
  .padding-right-80{
    padding-right: 80px;
  }
  .padding-right-90{
    padding-right: 90px;
  }
  .padding-right-100{
    padding-right: 100px;
  }
  .padding-right-120{
    padding-right: 120px;
  }
  
  
  .margin-5{
    margin: 5px;
  }
  .margin-10{
    margin: 10px;
  }
  .margin-20{
    margin: 20px;
  }
  .margin-30{
    margin: 30px;
  }
  .margin-40{
    margin: 40px;
  }
  .margin-50{
    margin: 50px;
  }
  .margin-60{
    margin: 60px;
  }
  .margin-70{
    margin: 70px;
  }
  .margin-80{
    margin: 80px;
  }
  .margin-90{
    margin: 90px;
  }
  .margin-100{
    margin: 100px;
  }
  .margin-120{
    margin: 120px;
  }
  .margin-top-5{
    margin-top: 5px;
  } 
  .margin-top-10{
    margin-top: 10px;
  }
  .margin-top-2{
    margin-top: 2px;
  }
  .margin-top-6{
    margin-top: 6px;
  }
  .margin-top-20{
    margin-top: 20px;
  }
  .margin-top-30{
    margin-top: 30px;
  }
  .margin-top-40{
    margin-top: 40px;
  }
  .margin-top-50{
    margin-top: 50px;
  }
  .margin-top-60{
    margin-top: 60px;
  }
  .margin-top-70{
    margin-top: 70px;
  }
  .margin-top-80{
    margin-top: 80px;
  }
  .margin-top-90{
    margin-top: 90px;
  }
  .margin-top-100{
    margin-top: 100px;
  }
  .margin-top-120{
    margin-top: 120px;
  }
  .margin-bottom-10{
    margin-bottom: 10px;
  }
  .margin-bottom-20{
    margin-bottom: 20px;
  }
  .margin-bottom-30{
    margin-bottom: 30px;
  }
  .margin-bottom-40{
    margin-bottom: 40px;
  }
  .margin-bottom-50{
    margin-bottom: 50px;
  }
  .margin-bottom-60{
    margin-bottom: 60px;
  }
  .margin-bottom-70{
    margin-bottom: 70px;
  }
  .margin-bottom-80{
    margin-bottom: 80px;
  }
  .margin-bottom-90{
    margin-bottom: 90px;
  }
  .margin-bottom-100{
    margin-bottom: 100px;
  }
  .margin-bottom-120{
    margin-bottom: 120px;
  }
  .margin-left-10{
    margin-left: 10px;
  }
  .margin-left-4{
    margin-left: 4px;
  }
  .margin-left-20{
    margin-left: 20px;
  }
  .margin-left-30{
    margin-left: 30px;
  }
  .margin-left-40{
    margin-left: 40px;
  }
  .margin-left-50{
    margin-left: 50px;
  }
  .margin-left-60{
    margin-left: 60px;
  }
  .margin-left-70{
    margin-left: 70px;
  }
  .margin-left-80{
    margin-left: 80px;
  }
  .margin-left-90{
    margin-left: 90px;
  }
  .margin-left-100{
    margin-left: 100px;
  }
  .margin-left-120{
    margin-left: 120px;
  }
  .margin-right-10{
    margin-right: 10px;
  }
  .margin-right-20{
    margin-right: 20px;
  }
  .margin-right-30{
    margin-right: 30px;
  }
  .margin-right-40{
    margin-right: 40px;
  }
  .margin-right-50{
    margin-right: 50px;
  }
  .margin-right-60{
    margin-right: 60px;
  }
  .margin-right-70{
    margin-right: 70px;
  }
  .margin-right-80{
    margin-right: 80px;
  }
  .margin-right-90{
    margin-right: 90px;
  }
  .margin-right-100{
    margin-right: 100px;
  }
  .margin-right-120{
    margin-right: 120px;
  } 
  .border{
    border: 0.5px solid #f0f0f0;
  }
  
  .panel{
    border-radius: 3px;
    background: white;
    
    
  }
  
  .search-header{
    border: 0.5px solid;
    border-color: #F2F2F2;
    width: 350px;
  }
  .background-grey{
    background-color: #F8F8F8;
  }
  .flex{
    display: flex;
  }
  .flex-center{
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .flex-center-vertical{
    height: 100%;
    align-items: center;
  }
  .flex-wrap{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
  }
  
  .justify-center{
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .justify-end{
    align-items: flex-end;
  }
  
  
  .flex-start{
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .row-direction{
    flex-direction: row !important;
  }
  .is-pulled-left {
    float: left !important;
  }
  .is-pulled-right {
    float: right !important;
  }
  .grey-color{
    background-color:#f6f8fa;
  }
  .space-bethwen{
    justify-content: space-between;
  }
  /*font*/
  .font-color-white{
    color: white;
  }
  /*footer*/
  .footer{
    background-color: #6D8694;
  }
  .footer-back{
    background-color: #607382;
  }
  .text-center{
    text-align: center;
  }
  
  .background-bg-group{
    background-image: url('../assets/img/background2.png');
    background-size: cover;
    height: 30vh;
  }
  .overlay{
    z-index: 1000;
    background: rgba(0, 0, 0, 0.438);
  }
  
  .img-grid{
    height: 85px;
    width: 85px;
  }
  
  .margin-left-5{
    margin-left: 5px;
  }
  
  .img-group{
    width: 25%;
    height: 90px;
  }
  .breadcrumb {
    white-space: nowrap;
  }
  
  .breadcrumb a {
    align-items: center;
    color:#42b549;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 0 0.75em;
  }
  
  .breadcrumb a:hover {
    color: #363636;
  }
  
  .breadcrumb li {
    align-items: center;
    display: flex;
  }
  
  .breadcrumb li:first-child a {
    padding-left: 0;
  }
  
  .breadcrumb li.is-active a {
    color: #363636;
    cursor: default;
    pointer-events: none;
  }
  
  .breadcrumb li + li::before {
    color: #b5b5b5;
    content: "\0002f";
  }
  
  .breadcrumb ul,
  .breadcrumb ol {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  /*=======================*/
  
  .checkbox {
    position: relative;
    top: -0.2rem;
    margin: 0 0.5 rem 0 0;
    cursor: pointer;
  }
  .checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #f2f2f2;
  }
  .checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #009688;
    border-top-style: none;
    border-right-style: none;
  }
  .checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    cursor: pointer;
  }
  
  /* ================================= */
  .text-center-vertical{
    margin: auto;
  }
  
  /* ================================= */
  .color-pick{
    width: 20px;
    height: 20px;
    border-radius: 1px;
    margin: 3px;
  }
  
  
  /* ================================== */
  
  .tabs {
    -webkit-overflow-scrolling: touch;
    align-items: stretch;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
  .tabs a {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
  }
  
  .tabs a:hover {
    border-bottom-color: #363636;
    color: #363636;
  }
  
  
  .tabs li.is-active a {
    border-bottom-color: #3EC57F;
    color: #3EC57F;
  }
  
  .tabs ul {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
  }
  
  .text-primary-color{
    color: #3EC57F;
  }
  .text-red-color{
    color: #d28274;
  }

/* =================================================== */
.background-bg{
    background-image: url('../assets/img/background.png');
    background-size: cover;
    height: 40vh;
}

.img-profile-square{
    border-radius: 0.3em;
    height: 100px;
    width: 100px;
}
.flex-end{
    height: 100%;
    align-items: flex-end;
}
.w1{
  background-color: #FFD3D3;
}
.w2{
  background-color: #FFE9D3;
}
.w3{
  background-color: #FFEDBE;
}
.w4{
  background-color: #D2EDB3;
}
.w5{
  background-color: #A6E39A;
}
.w6{
  background-color: #9FD9C5;
}
.w7{
  background-color: #B5F5F3;
}
.w8{
  background-color: #9D99BC;
}
.w9{
  background-color: #F2C5ED;
}
.w10{
  background-color: #E0AAE5;
}
.w11{
  background-color: #FF74A4;
}
  
  